services:
  api:
    build: .
    container_name: pos_system_api
    restart: always
    ports:
      - '3000:3000'
    environment:
      DB_HOST: postgres
      PORT: 3000
    env_file:
      - .env
    depends_on:
      - postgres

  postgres:
    image: postgres:16
    container_name: pos_system_db
    restart: always
    environment:
      DB_USER: ${POSTGRES_USER}
      DB_PASSWORD: ${POSTGRES_PASSWORD}
      DB_NAME: ${POSTGRES_DB}
    ports:
      - '5432:5432'
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
